<footer>
    <div class="copyright">
        <p>&copy; 2024 Sparta Gym. Derechos reservados.</p>
    </div>
    <div class="redes-sociales">
        <a href="" target="_blank"><img src="" alt="Facebook"></a>
        <a href="" target="_blank"><img src="" alt="Instagram"></a>
    </div>
</footer>