<section class="">
    <img src="" alt="">
</section>

<section class="">
    <h1>Servicios</h1>
</section>

<section class="">
    {{#each servicios}}
    <div class="service-card">
        <img src="{{url}}" alt="{{img}}">
        <h2>{{title}}</h2>
    </div>
    {{/each}}
</section>